<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" value="first">
    <ion-segment-button value="first">
      <ion-label>Estudiante</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second">
      <ion-label>Profesor</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'first'">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="username" placeholder="Usuario" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="firstName" placeholder="Nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="lastName" placeholder="Apellido" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="rut" placeholder="Rut" (input)="formatInputRUT()" maxlength="12" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-button 
        id="btn-register-student" 
        expand="block" 
        color="primary" 
        (click)="register('Estudiante')"
      >
        Registrarse como Estudiante
      </ion-button>
    </ion-list>
    <ion-item>
      <ion-label color="primary" [routerLink]="['/']">Volver</ion-label>
    </ion-item>
  </div>

  <div *ngIf="selectedSegment === 'second'">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="username" placeholder="Usuario" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="firstName" placeholder="Nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="lastName" placeholder="Apellido" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="rut" placeholder="Rut" (input)="formatInputRUT()" maxlength="12" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="professorCode" placeholder="Código de Profesor" type="text" required></ion-input>
      </ion-item>
      <ion-button 
        id="btn-register-professor" 
        expand="block" 
        color="primary" 
        (click)="register('Profesor')"
      >
        Registrarse como Profesor
      </ion-button>
    </ion-list>
    <ion-item>
      <ion-label color="primary" [routerLink]="['/']">Volver</ion-label>
    </ion-item>
  </div>
  
</ion-content>
